@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

:root {
    --bg: #EFF5F5;
    --main: #001233;
    --sub1: #001845;
    --sub2: #D6E4E5;
    --text: #979dac;
    --red_btn: #cc2936;
    --green_btn: #388697;
    --submit_btn: #9E0059;
    --incomplete_btn: #ffa850;
    --complete_btn: #772F1A;
    --footer: #272727;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu Mono', monospace;
    list-style-type: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--sub2);
    overflow-x: hidden;
    padding: 30px 0px;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    position: fixed;
    top: 0%;
}

header .logo {
    color: var(--incomplete_btn);
}